@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

.custom-navbar {
	background: #fff;
	border-top: 5px solid #29ca8e;
	border-bottom: 0;
	-webkit-box-shadow: 0 1px 30px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 30px rgba(0,0,0,0.1);
	box-shadow: 0 1px 30px rgba(0,0,0,0.1);
	padding: 12px 0;
	margin-bottom: 0;
	padding: 0;
}

.navbar-brand {
	color: #2b2929;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

.navbar-nav.navbar-nav-first {
	margin-left: 8em;
}

.navbar-nav.navbar-right li a {
	padding-right: 12px;
	padding-left: 12px;
}

.navbar-nav.navbar-right li a .fa {
	background: #29ca8e;
	border-radius: 100%;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
}

.nav li a {
	line-height: 40px;
	color: #252424;
	padding-right: 22px;
	padding-left: 22px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	background-color: transparent;
}

.nav li a:hover {
	background-color: #29ca8e;
	color: #fff;
} 

.nav li.active > a {
	background-color: #29ca8e;
	color: #fff;
}

.navbar-toggle {
	border: none;
	padding-top: 10px;
	background-color: transparent; 
}

.navbar-toggle .icon-bar {
	background: #252525;
	border-color: transparent;
}

