@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

.custom-navbar {
	background: #fff;
	border-top: 5px solid #29ca8e;
	border-bottom: 0;
	-webkit-box-shadow: 0 1px 30px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 30px rgba(0,0,0,0.1);
	box-shadow: 0 1px 30px rgba(0,0,0,0.1);
	padding: 12px 0;
	margin-bottom: 0;
	padding: 0;
}

.custom-navbar .navbar-brand {
	color: #2b2929;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

.custom-navbar .navbar-nav.navbar-nav-first {
	margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
	padding-right: 12px;
	padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right li a .fa {
	background: #29ca8e;
	border-radius: 100%;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
}

.custom-navbar .nav li a {
	line-height: 40px;
	color: #252424;
	padding: 1em;
	text-decoration: none;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
	background-color: transparent;
}

.custom-navbar .nav li a:hover {
	background-color: #29ca8e;
	color: #fff;
} 

.custom-navbar .nav li.active > a {
	background-color: #29ca8e;
	color: #fff;
}

body > header > nav > div > div > ul.nav.navbar-nav.navbar-right > li > a > i:hover {
	background-color: #fff;
	color: #29ca8e;
}

.custom-navbar .navbar-toggle {
	border: none;
	padding-top: 10px;
	background-color: transparent;	
}

.custom-navbar .navbar-toggle .icon-bar {
	background: #252525;
	border-color: transparent;
}

@media only screen and (max-width: 1200px) {
	body > header > nav > div > div > ul.nav.navbar-nav.navbar-nav-first {
		margin: 0 auto;
		text-align: center;
	}

	body > header > nav > div > div > ul.nav.navbar-nav.navbar-nav-first > li a {
		display: block;
		width: 100%;
	}

	body > header > nav > div > div > ul.nav.navbar-nav.navbar-right > li a {
		display: block;
		width: 100%;
		text-align: center;
	}
}







