body {
    overflow-x: hidden;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.custom-navbar {
    background: #fff;
    border-top: 5px solid #29ca8e;
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
}

.custom-navbar .navbar-brand {
    color: #2b2929;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
}

.custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right li a .fa {
    background: #29ca8e;
    border-radius: 100%;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.custom-navbar .nav li a {
    line-height: 40px;
    color: #252424;
    padding: 1em;
    text-decoration: none;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
    background-color: transparent;
}

.custom-navbar .nav li a:hover {
    background-color: #29ca8e;
    color: #fff;
}

.custom-navbar .nav li.active>a {
    background-color: #29ca8e;
    color: #fff;
}

.custom-navbar .navbar-nav.navbar-right>li>a>i:hover {
    background-color: #fff;
    color: #29ca8e;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
}

/*Slider*/

.slider .item {
    height: 100vh;
    color: white;
    position: relative;
}

.slider .caption {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.slider .item h1,
.slider .item h6 {
    margin-bottom: 2rem;
}


.slider .section-btn {
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;

}

.slider a.section-btn {
    text-decoration: none;
}

.slider .section-btn:hover,
.slider .section-btn:active {
    background-color: #fff;
    color: #000;
}


.home-slider .item-first {
    background-image: url("../img/slider-1.jpg");


}

.home-slider .item-second {
    background-image: url("../img/slider-2.jpg");

}

.home-slider .item-third {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5) , transparent ), url("../img/slider-3.jpg");
}

.home-slider .item-first,
.home-slider .item-second,
.home-slider .item-third {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/*About*/

.about {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(250,249,250);
}


.about figure {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.about div.row {
    justify-content: space-between;
}

.about figure i.fa {
    font-size: 1.5rem;
    background: #29ca8e;
    border-radius: 100%;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 1rem;
}

.about .entry-form {
    background: #252020;
    border-radius: 100%;
    text-align: center;
    padding: 6rem;
    width: 450px;
    height: 450px;
}

.about .entry-form h2 {
    color: #fff;
    margin: 0;
}

.entry-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin: 10px 0;
}

.entry-form .submit-btn {
    background: #fff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    width: 50%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
}

.entry-form .submit-btn:hover {
    background: #3f51b5;
    color: #fff;
}

/*Team*/

.team {
    display: flex;
    align-items: center;
    height: 100vh;
}

.team .section-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.team .section-title h2 {
    color: #000;
}

.team .team-thumb {
    padding: 1rem;
    background-color: rgb(250,249,250);
}

.team .team-image {
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
}

.team .author-1 {
    background-image: url("../img/author-image-1.jpg");
   
}

.team .author-2 {
    background-image: url("../img/author-image-2.jpg");
    
}

.team .author-3 {
    background-image: url("../img/author-image-3.jpg");
    

}

.team .author-4 {
    background-image: url("../img/author-image-4.jpg");
    
}

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
}

.social-icon li a {
    border-radius: 100px;
    color: #29ca8e;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
    background: #29ca8e;
    color: #fff;
}

/*Courses*/

.courses {
    display: flex;
    align-items: center;
    height: 100vh;
}

.courses .section-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.courses .section-title h2 {
    color: #000;
}

.courses .item {
    width: 350px;
    height: auto;
    background-color: rgb(250,249,250);
    margin-bottom: 1rem;
}

.courses-top {
    position: relative;
}

.courses-image {
    background: linear-gradient(to right, #202020, #101010);
}

.courses-image img {
    height: 250px;
}

.courses-detail {
    padding: 1rem;
}

.courses-detail h3 {
    min-height: 70px;
}

.courses-detail,
.courses-detail a {
    color: #212529;
}

.courses-date {
    background-image: linear-gradient(#fff, #555);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    opacity: 0.8;
}

.courses-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
}

.courses-author {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-size: 75px;
    background-repeat: no-repeat;
}

.author-1 {
    background-image: url(..//img/author-image-1.jpg);
    background-position: top; 
}

.author-2 {
    background-image: url(..//img/author-image-2.jpg);
    background-position: bottom; 
}

.author-3 {
    background-image: url(..//img/author-image-3.jpg);
    background-position: top; 
}

.author-4 {
    background-image: url(..//img/author-image-4.jpg);
    background-position: top; 
}

.author-name span {
    font-size: 1.2rem;
    color: #212529;
}

.courses-price span {
    background-color: #29ca8e;
    color: #fff;
    padding: .5rem;
}

.courses-price a {
    text-decoration: none;
}

/*Pagination*/

#courses > div > div > div > div.owl-carousel.owl-theme.owl-courses.owl-loaded.owl-drag > div.owl-nav > button.owl-prev > i,
#courses > div > div > div > div.owl-carousel.owl-theme.owl-courses.owl-loaded.owl-drag > div.owl-nav > button.owl-next > i {
    
    background-color: rgb(217,214,217);
    color: #fff;
    padding: .5rem 1rem;
    font-size: 2rem;
}

#courses > div > div > div > div.owl-carousel.owl-theme.owl-courses.owl-loaded.owl-drag > div.owl-nav > button.owl-prev > i:hover,
#courses > div > div > div > div.owl-carousel.owl-theme.owl-courses.owl-loaded.owl-drag > div.owl-nav > button.owl-next > i:hover {
    
    background-color: rgb(138,146,147);
    
}

/*Testimonial*/

.tst {
    display: flex;
    align-items: center;
    background-color: rgb(250,249,250);
    height: 100vh;
}

.tst .section-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.tst .section-title h2 {
    color: #000;
}

.tst .item {
    width: 350px;
    background-color: #fff;
    padding: 2rem 1rem 3rem; 
    margin-bottom: 1rem;
}

.tst-image img {
    border-radius: 50px;
    width: 60px !important;
    height: 60px;
    margin-right: 15px;
}

.tst-author,
.item p {
    color: #212529;
}

.item p {
    min-height: 100px;
}

.tst-image,
.tst-author {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: left;
}

.tst-rating .fa {
    color: #3f51b5;
}

/*Form*/

.contact {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(63,80,182);
}

.section-title {
    color: #fff;
    text-align: left;
    justify-content: flex-start;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#contact-form > div.col-md-12.col-sm-12 > input,
#contact-form > div.col-md-12.col-sm-12 > textarea {
    background: transparent;
    margin-bottom: 2rem;
}

#contact-form > div.col-md-12.col-sm-12 > input::placeholder,
#contact-form > div.col-md-12.col-sm-12 > textarea::placeholder{
    color: rgba(255,255,255,0.5);
}

#contact-form > div.col-md-12.col-sm-12 > textarea {
    resize: none;
}

#contact-form input[type="submit"] {
    border-radius: 50px;
    border: 1px solid transparent;
}

#contact-form input[type="submit"]:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.contact-image img {
    width: 100%;
    max-width: 600px;
}


.map {
    width: 100%;
    margin-bottom: 2rem;
}

.text-map {
    text-align: center;
    padding: 1rem 0;
}

/*Footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding-top: 1rem;
    background-color: rgb(37,31,32);
    color: rgb(103,98,98);
}

.footer-info {
    max-width: 300px;
}

.footer .section-title {
    padding: 0;
}

.footer .form-group input:first-child {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.footer address a {
    text-decoration: none;
    color: inherit;
}

.footer address a:hover {
    color: lightblue; 
    transition: 0.5s;   
}

.footer .footer-info h2 {
    color: #fff;
} 

.footer ul.quick-links {
    padding: 0;
    margin-top: 2rem;
}

.footer .quick-links li {
    display: inline-block;
    list-style: none;
    padding: .2rem;
}

.footer .quick-links li a {
    color: inherit; 
    transition: 0.5s;
}

.footer .quick-links li a:hover {
    text-decoration: none;
    color: #29ca8e;
}

.footer .form-group input:first-child {
    width: 80%;
    border-radius: 0;
}

.footer .form-group input:last-child {
    background: none;
    width: 200px;
    height: auto;
    border-radius: 30px;
    padding: 1rem 0;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.footer .form-group input:last-child:hover {
    background: #fff;
    color: inherit;
}



